*{
    --dark-gray:#141414;
    --medium-gray:#1F1F1F;
    --soft-gray: #2B2B2B;
    --orange:#FE6A0F;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: auto;
    position: relative;
    text-align: center;
    align-items: center;

}
body{
    background-color: var(--dark-gray);
}
/*----------header----------*/
header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 80px;
    height: 55px;
    min-width: 800px;
}
header ul li {
    margin: 30px;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}
.btn-pedido {
    display: flex;
    margin-left: 15rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 220px;
    height: 45px;
    color: #fff;
    border-radius: 5px;
    outline: 1px solid var(--color-text, rgba(255, 254, 254, 0.8));
}
.logo {
    display: flex;
    align-items: first baseline;
    margin-right: 50px;
    padding: 100px 10px;
}
/*----------banner----------*/
.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    height: auto;
}
.banner p {
    width: 70%;
    margin-top: 8%;
}
.left-banner, .right-banner {
    display: flex;
    align-items: center;
}
.left-banner {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    padding-bottom: 120px;
}
.left-banner button {
    background-color: var(--orange);
    border: .5px solid var(--orange);
    border-radius: 5px;
    width: 46%;
    min-height: 12%;
    margin-top: 8%;
    margin-left: -27%;
    text-decoration: none;
    color: white;
}
.right-banner img {
    width: 480px;
    margin-top: 80px;
    position:absolute;
    z-index: 9999;
}
/*----------searching-bars----------*/
.banner-search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #1f1f1f;
}
button {
    background: var(--soft-gray);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    border: none;
    margin-bottom: 30px;
    left: 30px;
    right: 30px;
}
button i {
    margin: 10px;
}
.categoria {
    padding: 8px 40px;
    background-color: #282828;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 80px;
    width: 300px;
}
.categoria i {
    margin: 8px 10px;
}
/*----------burguers----------*/
#cardapio {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box-cardapio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 3rem 2rem;
    background-color: #141414;
}
.btn-cardapio {
    cursor: pointer;
    width: 280px;
    height: 315px;
    border-radius: 10px;
    margin: 0 24px 0 24px;
    background-color: #282828;
    text-align: center;
}
.up {
    height: 50%;
    border-radius: 10px 10px 0 0;
    background-color: #1f1f1f;
}
.box-cardapio img {
    height: auto;
    width: max(10vw, 110px);
    margin-top: 50px;
}
.info {
    margin: 40px 15px;
}
/*----------footer----------*/
footer {
    padding: 50px 20px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-around;
}
#logo-footer {
    margin-right: 40px;
}