/*@import permite importar um recurso externo para dentro do arquivo atual*/
@media (max-width: 780px){
    html {
        font-size: 70%;
    }
    /*header*/
    nav{
        
    }
    .banner{
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }
    /*searching-bar*/
    
    /*options*/
    .box-cardapio{
        display: grid;
        grid-template-columns: 1fr;
    }
}