*{
    font-family: 'Calistoga','Inter', serif;
    font-size: 93.75% /*15px*/;
    color: white;
}
/*flex-grow: define o quanto os elementos filhos irão crescer até ocuparem o tamanho do pai quanto maior o número, maior será o espaço que o elemento irá ocupar; flex-shrink: determina o quanto o máximo que um elemento poderá ser diminuido na tela; flex-basis: determina qual será a largura minima que um elemento terá; flex: é a abreviação do flex-grow:1, flex-shrink:1, flex-basis:0 = definido:1*/
/*----------header----------*/
header ul li a {
    padding: 10px;
    color: #fff;
    transition: all 0.3s;
}
header ul li a.item-menu:hover {
    color: var(--orange);
}
header a {
    text-decoration: none;
}
header .btn-pedido:hover{
    background-color: #FE6A0F;
}
/*----------banner----------*/
.banner h2 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-left: 14%;
}
.banner span {
    transform: rotate(-7.914deg);
}
.banner p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}
.banner button{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: large;
}
.banner button:hover {
    color: var(--orange);
    background-color: #fff;
    border: none;
}
/*----------searching-bars----------*/
.search p {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 100px;
    text-align: start;
}
button {
    color: #979797;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease;
}
.categoria p {
    color: #979797;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}
/*----------burguers----------*/
.btn-cardapio p {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    text-align: start;
}
.btn-cardapio h2 {
    font-family: 'Calistoga', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: start;
    color: #fff;
}
.btn-cardapio h3 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: start;
    color: #FE6A0F;
}
/*----------footer----------*/
footer{
    font-family: 'Inter';
    font-size: 1rem;
    color: var(--soft-gray);
    height: 20vh;
    text-align: center;
    align-items: center;
}